.contact,
.contact-dark {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px;
}

/* Contact Left */

.contact-left,
.contact-left-dark {
  flex: 1;
  color: white;
}
.contact-left {
  color: black;
}

.contact-left-dark h2,
.contact-left h2 {
  font-size: 40px;
  font-weight: 700;
}

.contact-left-dark h2 span,
.contact-left h2 span {
  vertical-align: middle;
  margin-right: 30px;
}
.contact-left-dark h5,
.contact-left h5 {
  font-size: 18px;
  margin: 20px 0 70px;
  color: #767676;
}
.form,
.form-dark {
  display: flex;
  flex-direction: column;
}
.form label,
.form-dark label {
  font-size: 16px;
  font-weight: 500;
  margin: 10px 0;
  padding: 0 5px;
  width: 70%;
  text-align: left;
}
.form input,
.form textarea,
.form-dark input,
.form-dark textarea {
  outline: none;
  border: 1px solid var(--secnodry);
  border-radius: 20px;
  font-size: 18px;
  font-weight: 600;
  padding: 15px 20px;
  background-color: var(--border);
  color: white;
  max-width: 70%;
  transition: 0.5s all;
}
.form input,
.form textarea {
  color: black;
  background-color: transparent;
  border: 1px solid #8a8a8a68;
}

.form-dark input:focus,
.form-dark textarea:focus {
  border: 1px solid #008aac;
}
.form input:focus,
.form textarea:focus {
  border: 1px solid black;
}
.form button,
.form-dark button {
  font-size: 20px;
  font-weight: 600;
  background-color: #2a2a2b;
  color: white;
  outline: none;
  border: 1px solid #2a2a2b;
  border-radius: 20px;
  margin: 20px 0;
  padding: 15px 0;
  width: 200px;
  cursor: pointer;
  transition: 0.5s all;
}
.form button {
  background-color: transparent;
  color: black;
}
.form button:hover,
.form-dark button:hover {
  border: 1px solid #008aac;
  background-color: transparent;
}
.form button:hover {
    border: 1px solid black;
  background-color: black;
  color: white;
}

/* Contact Right */
.contact-right {
  justify-content: center;
  align-items: center;
  width: 40%;
}
.contact-right .icon {
  text-align: center;
}
