.project,
.project-dark {
  display: flex;
  align-items: start;
}

/* Project Left */

.project-left,
.project-left-dark {
  display: flex;
  flex-direction: column;
  padding: 0 40px;
  gap: 10px;
}

.project-left button,
.project-left-dark button {
  width: 200px;
  padding: 15px 0;
  font-size: 16px;
  cursor: pointer;
  opacity: 0.5;
  background-color: #2d2d2dc0;
  color: white;
  border-radius: 10px;
  border: 1px solid var(--secnodry);
  transition: 0.5s all;
}
.project-left button {
  background-color: transparent;
  color: black;
  border: 1px solid #2a2a2b;
}
.project-left button.active,
.project-left-dark button.active {
  opacity: 1;
  font-size: 18px;
  font-weight: bold;
  word-spacing: 0.5px;
  border: 1px solid #008aac;
}
.project-left button.active {
  border: 1px solid black;
  background-color: var(--border);
  color: white;
}
.project-left button:hover,
.project-left-dark button:hover {
  opacity: 1;
}
.project-left button:hover {
  border: 1px solid black;
  background-color: var(--border);
  color: white;
}

/* Project Right */

.project-right,
.project-right-dark {
  display: flex;
  /* align-items: center; */
  /* justify-content: center; */
  flex-wrap: wrap;
  padding-right: 40px;
  gap: 40px;
  width: 100%;
}

.project-right .cards-box,
.project-right-dark .cards-box-dark {
  margin-bottom: 20px;
  border-radius: 10px;
  border: 2px solid #015064;
  transition: 0.5s all ease;
}
.project-right .cards-box {
  border: 2px solid transparent;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
  color: black;
}
.project-right .cards-box:hover,
.project-right-dark .cards-box-dark:hover {
  border: 2px solid #008aac;
  cursor: pointer;
  transform: scale(1.05);
}
.project-right .cards-box:hover {
  border: 2px solid black;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
}
.project-right .cards-box img,
.project-right-dark .cards-box-dark img {
  border-radius: 10px;
  background-size: cover;
}

.project-right .cards-box h2,
.project-right-dark .cards-box-dark h2 {
  font-size: 22px;
  font-weight: bold;
  margin: 10px 10px;
  cursor: auto;
}
.project-right .cards-box p,
.project-right-dark .cards-box-dark p {
  margin: 0 10px;
  font-size: 16px;
  cursor: auto;
  color: #8d8484;
}
.cards-box .links-box,
.cards-box-dark .links-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 20px 0;
  padding: 0 20px;
}
.cards-box .links-box a,
.cards-box-dark .links-box a {
  gap: 5px;
  display: flex;
  font-size: 16px;
  color: white;
  text-decoration: none;
  align-items: center;
  transition: 0.5s all;
}
.cards-box .links-box a {
  color: black;
}
.cards-box .links-box a:hover,
.cards-box-dark .links-box a:hover {
  color: aqua;
}

@media (min-width: 1455px) {
  .project-right .cards-box,
  .project-right-dark .cards-box-dark {
    width: 400px;
  }
}

@media (max-width: 1455px) {
  .project-right .cards-box,
  .project-right-dark .cards-box-dark {
    width: 360px;
  }
}
@media (max-width: 1354px) {
  .project-right .cards-box,
  .project-right-dark .cards-box-dark {
    width: 330px;
  }
}
@media (max-width: 1279px) {
  .project-right .cards-box,
  .project-right-dark .cards-box-dark {
    width: 295px;
  }
}
@media (max-width: 892px) {
  .project-right .cards-box,
  .project-right-dark .cards-box-dark {
    width: 70%;
  }
}
