:root {
  --primary: #000;
  --secnodry: #18181b;
  --border: #2a2a2b;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-div,
.header-div-dark {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 0px;
  gap: 30px;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  padding: 10px 30px;
  border-radius: 40px;
}
.header-div {
  background-color: white;
}
.header-div-dark {
  background-color: var(--border);
}
.header-div p,
.header-div-dark p {
  font-size: 17px;
  font-weight: 500;
  cursor: pointer;
  border-radius: 30px;
}
.header-div p a,
.header-div-dark p a {
  text-decoration: none;
  transition: 0.5s all ease;
}
.header-div p a {
  color: #000;
}
.header-div-dark p a {
  color: white;
}
.header-div p a:hover,
.header-div-dark p a:hover {
  color: aqua;
}
.header .btn,
.header .dark {
  margin: 15px 0 0;
  margin-right: 50px;
  font-size: 18px;
  outline: none;
  border-radius: 30px;
  border: none;
  padding: 8px 10px;
  cursor: pointer;
  transform: translateX(20px);
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
  transition: 0.5s all ease;
}
.header .btn {
  background-color: white;
  color: #04c9c9;
  border: 1px solid white;
}
.header .dark {
  background-color: var(--border);
  color: #5f5f5f;
  border: 1px solid var(--border);
}
.header .btn:hover {
  color: aqua;
}
.header .dark:hover {
  color: #a19e9e;
  border: 1px solid #636262;
}
.fixed {
  background-color: #000000e8;
  opacity: 0.7;
  width: 100%;
  position: absolute;
  inset: 0;
  z-index: 1000;
}
.fixed-ul,
.fixed-ul-dark {
  background-color: var(--secnodry);
  width: 80%;
  margin: 20px auto 0;
  padding: 1rem 2rem;
  list-style: none;
  animation: fixed-open 0.5s 1;
  position: relative;
  border-radius: 30px;
}
.fixed-ul {
  background-color: white;
}
.fixed-ul li,
.fixed-ul-dark li {
  border-bottom: 1px solid white;
  padding: 10px 0 15px;
  cursor: pointer;
}
.fixed-ul li {
  border-bottom: 1px solid black;
}
.fixed-ul li:last-child,
.fixed-ul-dark li:last-child {
  border: none;
}
.fixed-ul li:first-child,
.fixed-ul-dark li:first-child {
  border: none;
  text-align: right;
}
.fixed .icon-close,
.fixed .icon-close-dark {
  border: none;
  font-size: 25px;
  cursor: pointer;
  color: white;
  transition: 0.5s all ease;
}
.fixed .icon-close {
  color: black;
}
.fixed .icon-close:hover,
.fixed .icon-close-dark:hover {
  color: red;
  scale: 1.2;
  rotate: 90deg;
}
.fixed-ul li a,
.fixed-ul-dark li a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  transition: 0.5s all ease;
}
.fixed-ul li a {
  color: black;
}
.fixed-ul li:hover a,
.fixed-ul-dark li:hover a {
  color: aqua;
}

@keyframes fixed-open {
  0% {
    scale: 0;
  }
  80% {
    scale: 1.2;
  }
  100% {
    scale: 1;
  }
}
