@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --primary: #000;
  --secnodry: #18181b;
  --border: #2a2a2b;
  --line: #888888;
}

.light {
  color: #fff;
}
body{
  height: 100vh;
}
.body,
.body-dark {
  width: 100%;
  height: 100%;
  color: white;
}
.body {
  background-color: white;
}
.body-dark {
  background-color: var(--primary);
}

.container,
.container-dark {
  width: 80%;
  margin: 0 auto;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}
.container {
  background-color: white;
  border: 2px solid white;
}
.container-dark {
  background-color: var(--secnodry);
  border: 2px solid var(--border);
}

.line {
  border-bottom: 1px solid var(--line);
  margin: 3rem 0;
}
.line-dark {
  border-bottom: 1px solid var(--border);
  margin: 3rem 0;
}
.body-dark .btn-arrow,
.body .btn-arrow {
  position: fixed;
  bottom: 35px;
  right: 50px;
  font-size: 20px;
  padding: 10px;
  border-radius: 50%;
  background-color: #0066ff;
  border: 1px solid #0066ff;
  outline: none;
  cursor: pointer;
  transition: 0.5s all;
}
.body-dark .btn-arrow:hover {
  background-color: transparent;
  border: 1px solid #0066ff;
  color: white;
}

.body .btn-arrow:hover {
  background-color: transparent;
  border: 1px solid black;
}
